.footer{
  position: relative;
  padding: 20px;
  display: flex;
  justify-content:space-around;
}
.new{
  background: #3267bc;
  padding: 20px;
  margin: 0;
}
.copy{
  text-align: center;
  font-size: 1.2rem;
}
.copy span{
  color:white;
  letter-spacing: 3px;
}
.cont a{
  margin: 0 20px;
  flex-shrink: 0;
  width:40px;
  height: 40px;
  line-height: 40px;
  padding: 5px;
  border-radius: 50%;
  color: white;
}
#arrow{
  text-align: center;
  font-size: 1.3rem;
  width:40px;
  height: 40px;
  line-height: 40px;
  padding: 5px;
  border-radius: 50%;
  color: white;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}
@media screen and (min-width:991px) {
  #arrow:hover{
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}
}
@media screen and (max-width:600px) {
   .footer{
     flex-direction: column;
     align-items: center;
   }
   .footer .cont a{
     margin-bottom: 15px;
   }
}
